RewriteEngine on
RewriteRule !.(js|css|ico|gif|jpg|png|swf|ttf|eot|svg|woff|GIF)$ index.php
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]